/*(C)Pincury Zeazje 2015 All Rights*/
@charaset=utf-8
body {margin:0;}
#header {width:300px; margin:40px auto 2px; text-align:center;}
 #title {font-size:2.1em;}
 #header img {width:60px; margin-top:20px;}

#nav {width:40%; min-width:300px; margin:20px auto 10px; text-align:center;/* border:1px solid black;*/} 
#nav span {margin:0 22px; font-size:0.8em}
#welcome {width:60%; min-width:300px; height:120px; margin:20px auto; text-align:center;/* border:1px solid black;*/}